@model IQueryable<Blog>
@{
    ViewData["Title"] = "交流";
}
 <section class="height-70 imagebg cover cover-3 parallax" data-overlay="3">
    <div class="background-image-holder">
        <img alt="image" src="~/img/hero22.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h1>关注我们的博客</h1>
            </div>
        </div>
        <!--end row-->
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
@foreach(Blog item in @Model )
{
               
                <div class="blog-item blog-item-1">
                    <a href="~/news/p/@item.Id">
                        <h4>@item.Title</h4>
                    </a>
                    <div class="blog-item__author">
                        <span>
                            <em>by</em>
                        </span>
                        <span class="h6">@item.Author</span>
                        <span>•</span>
                        <time class="entry-date" datetime="2016-10-4" pubdate="" itemprop="datePublished">@item.CreateDate</time>
                        <span>•</span>
                        <span class="categories-links" itemprop="keywords"><a href="#" rel="category tag">@item.BlogCategory.Name</a></span>
                    </div>
                    <p>
                        @if(@item.Content.Length<80)
                        {
                            @item.Content
                        }
                        else{
                             @item.Content.Substring(0, 70)
                         } .....
                    </p>
                    <div>
                        <a href="~/news/p/@item.Id" class="more-link">阅读全文 ›</a>
                    </div>
                    <hr />
                </div>
}
                <!--end blog item-->
                <!--<div class="pagination-container">
                    <hr>
                    <ul class="pagination">
                        <li>
                            <a href="#">
                                <span>&larr;</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">
                                <span>&rarr;</span>
                            </a>
                        </li>
                    </ul>
                </div>-->
            </div>
            <div class="col-md-3 col-md-offset-1 hidden-sm hidden-xs">
                <!--<div class="sidebar">
                    <div class="sidebar__widget">
                        <h6>Search Site</h6>
                        <hr>
                        <form method="post">
                            <div class="input-with-icon">
                                <i class="icon-Magnifi-Glass2"></i>
                                <input type="search" placeholder="Type Here" />
                            </div>
                        </form>
                    </div>-->
                    <!--end widget-->
                    <div class="sidebar__widget">
                        <h6>类别</h6>
                        <hr>
                        <ul class="link-list">

                            @foreach(var item in ViewBag.categorys) 
                            {
                            <li>
                                <a href="~/news/Categories/@item.Id">
                                    @item.Name
                                </a>
                            </li>
                            }
                        </ul>
                    </div>
                    <!--end widget-->
                    <!--<div class="sidebar__widget">
                        <h6>Tags</h6>
                        <hr>
                        <ul class="tag-cloud">
                            <li>
                                <a href="#" class="btn btn--sm btn--square">
                                    <span class="btn__text">
                                        Business
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn--sm btn--square">
                                    <span class="btn__text">
                                        Tourism
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn--sm btn--square">
                                    <span class="btn__text">
                                        Life
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn--sm btn--square">
                                    <span class="btn__text">
                                        Startup
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn--sm btn--square">
                                    <span class="btn__text">
                                        Design
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn--sm btn--square">
                                    <span class="btn__text">
                                        Tech
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn--sm btn--square">
                                    <span class="btn__text">
                                        Style
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn--sm btn--square">
                                    <span class="btn__text">
                                        Environment
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>-->
                    <!--end widget-->
                    <!--<div class="sidebar__widget">
                        <h6>About Us</h6>
                        <hr>
                        <p>
                            We're a digital focussed collective working with individuals and businesses to establish rich, engaging online presences.
                        </p>
                    </div>-->
                    <!--end widget-->
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<style>
    .nav-bar.nav--transparent:not(.nav--scrolled):not(.nav--fixed) .menu > li > a {
    color: #232323;
}
</style>